<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	<h2><center>Contact Form</center></h2>
    <b>Name:</b> <%= @message.name %><br>

	<b>Email:</b> <%= @message.email %><br>

	<b>Subject:</b> <%= @message.subject %><br>

	<b>Body:</b> <%= @message.body %><br>
  </body>
</html>